/*body {
  background-image: href("../images/leather1.png");

}*/

nav {
	width: 100%;
	max-width: 960px; 
	margin: 0 auto;
	overflow: auto;
	border-bottom-style: outset;
	border-bottom-width: 2px;
	border-bottom-color; #cccccc;
	padding: 0px 10px;
}

a {
	color: #777777;
}

.logo {
	display: inline-block;
	font-size: 30px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-align: center;
	color: white;
	background: #4aaaa5;
	width: 200px;
	/*margin-left: 120px;*/
	height: 80px;
	line-height: 80px;
	float: left;
}

#navlinks {
	display: inline-block;
    list-style-type: none;
    float: right;
    overflow: hidden;
    background-color: white;
    margin-right: 0px auto;
}
	
#nav1 {
	display: inline-block;
    margin-top: 25px;
    font-family: Arial;
    font-size: 20px;
    color: #777777;
}

.wrapper {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	/*border-top-style: outset;
	border-top-width: 5px;
	border-top-color; #cccccc;*/
	padding: 10px;
	background-image: url("../images/leather1.png");
	background-color: #ffffff;
}

.content {
	display: inline-block;
	font-family: "'Arial', 'Helvetica Neue', Helvetica, sans-serif";
	font-size: 18px;
	color: #4aaaa5;
	width: 560px;
	background: white;
	padding: 10px;
	border: 1px solid #cccccc;
	margin: 20px;
	/*float: left;*/
}

h1 {
	font-size: 30px ;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 3px solid #cccccc;
}

h2 {
	border-bottom: 3px solid #cccccc;
	padding-bottom: 10px;
	margin-bottom: 10px;
}


#bio-image {
	width: 20%;
	display: block;
	float: left;
	padding-right: 20px;
}

p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	display: block;
	vertical-align: top;
}

ul {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	display: block;
	margin-left: 170px;
	vertical-align: top;
}

.connect {
	display: inline-block;
	width: 270px;
	height: auto;
	text-align: center;
	color: #4aaaa5;
	background-color: white;
	/*margin-top: 50px;*/
	/*margin-left:20px;*/
	padding: 10px;
	margin: 20px;
	border: 1px solid #cccccc;
	float: right;
}

.social {
	width: 70px;
	height: 70px;
	margin-top: 10px;
	margin-right: 5px;
}

footer,
.push {
	width: 100%;
	height: 100px;
  	max-width: 960px;
  	margin: 0 auto;
  	clear: both;
  	font-size: 12px;
  	text-align: center;
  	color: #777777;
  	background-color: #666666;
  	line-height: 100px;
  	border-top-style: outset;
  	border-top-width: 10px;
  	border-top-color: #4aaaa5;
  	padding: 10px;
}

@media screen and (max-width: 980px) {
	nav{
		max-width: 900px;
	}
}

@media screen and (max-width: 768px) {
	nav {
		max-width: 700px;
	}
	
	.content {
		width: 700px;
		margin: 20px;
	}

	.connect {
		width: 700px;
		margin: 20px;
	}
}


@media screen and (max-width: 640px) {
  nav {
    position: static;
    clear: both;
	}
  
  .logo{
	width: 640px;
  }

  .nav1 {
  	width: 100%;
  	max-width: 640px;
  	text-align: center;
  }

  .wrapper {
  	clear: both;
  	max-width: 640px;
  	padding: 10px;
  	margin: 0 auto;
  }
  .content {
  	width: 600px;
  	padding: 10px;
  	margin: 0 auto;
  }
  .connect {
  	width: 600px;
  	padding: 10px;
  	margin: 0 auto;
  }